.pc-spacer {
  margin-top: 16px;
}

strong {
  display: block;
  margin-bottom: 8px;
}

.gh-radio-button + .gh-radio-button {
  margin-left: 20px;
}

.gh-form-field + .gh-form-field {
  margin-top: 16px;
}
